.fc-body{
    background-color: #829460;
}

.labelang{
    font-family: 'Inter';
    font-size: 14px;
    margin: 3% 0 0 0; 
}

.nav-pills > li > a.adopt-tab.active {
    background-color: #EF476F;
    color: white;
    border: none;
}

.spinner {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    margin: auto;
    /* display:none; */
}

.fc-day-header{
    background-color: #829460;
    color: white;
}

.fc-body{
    border-color: #555;
}

.fc td {
    border-color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input, select{
    text-indent: 10px;
}

.currency-wrap{
    position:relative;
    background-color:  #D0B894;
}

.currency-code{
    position:absolute;
    top:7px;
    padding-left: 10px;
    background-color:  #D0B894;
}

.text-currency{
    padding:2px 22px;
    border:solid 1px #ccc;
    border-radius:5px;
    background-color:  #D0B894;
}

.currency-wrap-payment{
    position:relative;
    width: 20px;
    background-color:  #D0B894;
}

.currency-code-payment{
    position:absolute;
    top:3px;
    padding-left: 10px;

    border-left:1px solid;
    border-radius:1px;
}

.text-currency-payment{
    padding:2px 0px 2px 20px;
    border-radius:5px;
    background-color:  #D0B894;
}

body{
    background-color:#829460;
    margin: 0px;
    padding: 0px;
}
.sidenav{
    position: fixed;
    /* new */
    height: 100vh;
    margin-left: 1%;
}

ul.no-bullet{
    list-style-type: none;
    margin: 0;
    padding:0;
}

.active-bar{
    color:black;
    border-radius: 25px;
    background-color: #EDDBC0;
}

.active-bar span{
    color:black;
}

.dropdown-container {
    display: none;
    /* background-color: ;
    padding: 6px 16px 16px 16px; */
}

.fa-caret-down {
    float: right;
    /* padding-right: 20px; */
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.btn2{
    height: 20px;
    padding: 1px;
}


.side-navbar  a {

    /* new */
    padding: 12px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    border: none;
    background: none;
    justify-content: center;
    
    /* width: 13vw; */
    text-align: left;
    cursor: pointer;
    outline: none;

}


.create-button:hover{
    border-radius: 30px; 
    border: 2px solid #788859;
    width: 110px;
    height: 37px; 
    color:white; 
    background: #788859;
}

.create-button{
    background: #829460;
    border-radius: 30px; 
    color:white; 
    border:#829460;
    width: 110px;
    height: 37px;
}

.close_button:hover{
    /* background: #829460;
    border-radius: 30px; 
    color:white; 
    border:#67764c;
    width: 110px;
    height: 37px; */
    color:#728253;
    background-color: #dbc5a4;
}

.close_button{
    border-radius: 30px; 
    border: 2px solid #829460;
    width: 110px;
    height: 37px; 
    color:#829460; 
    background:transparent;
}

.dropdown-btn {
    /* new */
    text-decoration: none;
    font-size: 18px ;
    color: white;
    display: block;
    border: none;
    background: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    text-align: left;
    padding: 12px 15px 12px 17px ;
}
/* On mouse-over */
.side-navbar a:hover, .dropdown-btn:hover {
    color:black;
    border-radius: 25px;
    padding: 12px 15px;
    background-color: #EDDBC0;
}

.icon{
    height: 13% ;
    width: 13% ;
}

.icon-dropdown{
    height: 13% ;
    width: 13% ;
}

.main{
    background-color: bisque;
    border-radius: 25px;
    /* width: 82vw; */
    min-height: 95vh;
    margin-top: 18px;
    margin-right: 20px;
    margin-bottom: 18px
}
.add-left{
    margin-left: 20px;
}

.view1{
    background: rgba(0, 0, 0, 0);
    border: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    padding-left: 10px;
}

.viewuser{
    border-width: 1px;
    border-color: gray;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    border-radius: 5px;
    width: 100%;
    background-color:#D0B894;
    text-indent: 15px;
}
td{
    height: -20vh;
}
th{
    text-align: center;
}

.tbody{
    height: 100px
}
.modal-xl{
    width: 2000px;
}
.table{
    height:100px;
}

.viewbody{
    height: 600px;
}

.modal-footer{
    bottom: 50%;
}

#calendar {
    margin: 0 auto;
    background-color: white;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.note-editable{
    min-height: 300px;
    background-color: white   
}

/*   dashboard  */

.dropup:hover{
    background-color: bisque;
    color:black;
}

.dropup label:hover{
    color:black;
}

.side-navbar {
    width: 260px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color:#829460 ;
    transition: 0.5s;
}

.my-container {
    transition: 0.4s;
}
.active-nav {
    margin-left: 0;
}

.active-cont {
    margin-left: 265px;
}

#menu-btn {
    color: #fff;
    margin-left: -4px;
    border-radius: 5px
}

.remove-left{
    margin-left: 0px
}

.dropdown{
    margin-left: 20px;
}

.tab-content{
    padding: 0px
}
.dataTables_filter  {
    float: left !important;
    margin-bottom: 10px;
    background: #EDDBC0;
}
