/*main*/
.first-div-container{
        background-size:cover;
        background-repeat: no-repeat;
        background-position:center bottom -150px;
        background-image:url('https://res.cloudinary.com/uhno-dos-tres/image/upload/v1683471986/asdasdasada_beggm7.png');
        background-color:#eddbc0bb;
}


.first-div-content-bgcolor {
    height: 91vh;
}

.right-top-container {
    box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.25);
    height: auto; 
    left: 68%; 
    padding: 0.3rem;
    padding-bottom:7%; 
    text-align: center; 
    background-color:#829460; 
    width: 30%; 
    top:0px; 
    border-radius:0 0 500px 500px; 
    position: absolute; 
    z-index:1;
}

.right-top-container h1{
    margin-top: 1.75rem;
    font-family:Poppins; 
    text-align:center; 
    font-size:2vw; 
    color:white;
    font-weight: 900;
}

.right-top-container p{
    font-size: 1.2vw; 
    margin-top:5%; 
    margin-bottom:5%; 
    color:white; 
    text-align:center;
    font-family:Song Myung; 
}

.right-top-container img{
    height: 19vw; 
    width: 19vw; 
    margin-top: 2.5rem; 
    margin-left:auto; 
    margin-right: auto; 
    border-radius: 9999px;
}

.textpage1{
    margin-left:3%;
    margin-top:2%; 
    margin-right:3%;
    
}

.speak{
    font-size: 6vw;
    margin-left:3%; 
    margin-top:2.3rem; 
    font-family:Song Myung; 
    color:black;
}

.werehere{
    font-size:2.8vw; 
    margin-left:8.5%; 
    margin-top: -2%; 
    font-family:Song Myung; 
    color:black;
}
.speakforyou{
    margin-left:1.25rem; 
    margin-right:1.25rem ;  
    margin-bottom: 3%;;
}

.btnregister{
    font-size: 1.5vw;
    text-decoration:none; 
    font-weight:900; 
    font-family:Poppins; 
    background-color: #829460; 
    text-align:center; 
    color:white;   
    line-height: 1vw; 
    border-radius: 2vw 0vw;
    margin-left: 5%; 
    padding:0.5vw 1vw 0.5vw 1vw;
  }

  .btnlogin{
    font-size: 1.5vw;
    text-decoration:none; 
    font-family:Poppins; 
    font-weight:900; 
    text-align:center; 
    color:#829460; 
    border: 0.2vw solid; 
    line-height: 1vw;  
    border-radius: 2vw 0vw; 
    margin-left: 0.5%; 
    padding:0.4vw 2vw 0.4vw 2vw;
}

.btnloginregister{
    margin-top: 25px;
}

/* Services */
.servicescontainer{
    width: 100%; 
    height: 55vw; 
    background-color:#829460; 
    text-align:center; 
    font-family:Poppins;
    color:white;
}

.servicestitle{
    padding-top: 3vw; 
    font-size:1.2vw;
    color:#EDDBC0;
    font-weight:700;
}

.whatwe{
    color: white; 
    font-size: 2vw;
    font-weight:700;
}

.whiteline{
    margin:auto; 
    height: 0.5%; 
    width:35%; 
    border: 0; 
    background: white;
}

.colcontainer{
    display: flex;
    flex-direction:row; 
    justify-content: center;
    margin-top:5%; 
}

.servicescontainer2{
    display: flex;
    flex-direction:row; 
    justify-content: center;
}

.brownshape{
    margin-left:1%;
    margin-right:1%;
    background-color: #AA8B56;  
    border-radius:500px 500px 0 0; 
    height:25vw ; 
    width:15vw;
    padding:2%; 
    padding-top:0%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.servicesimg{
    height:5vw; 
    width:5vw; 
    margin-bottom:5%;
}

.txtbrown124{
    text-align: left;
    font-size:1vw;
}

.undertxt{
    margin-top:3%;
    font-size:1.3vw;
} 

/* About us*/
.gettoknow{
    padding-top: 3vw; 
    font-size:1.2vw;
    color:#395144;
    font-weight:700;
}

.aboutus{
    color: black ; 
    font-size: 2vw;
    font-weight:700;
}

.blackline{
    margin:auto;  
    width:35%; 
    border: 0;
    border: 2px solid #000000;
}

.aboutimg{
    height: 19vw; 
    width:20vw; 
    margin-bottom:5%;
}

.abouttxtcontainer{
    font-family:'Song Myung';
    font-weight: 400;  
    margin-bottom:20px;
}

.abouttxt{
    font-size: 1.3vw; 
    margin-bottom:1%;
    text-align:justify;
}

.aboutreadmore{
    font-size: 1.5vw; 
    text-decoration:none;
    color:black;
    font-weight: 900; 
    text-align:center;
}

/*Doctors information*/
.colcontainer2{
    display: flex; 
    justify-content: center;
    margin-top:5%; 
}

.docimg{
    height: 35vw; 
    width:31vw;
    border-radius: 10% 0px;
    vertical-align: middle;
}

.doccontainer1{
    display: flex;
    flex-direction:row; 
    justify-content:right;
    align-items:center;
    flex-wrap: wrap;
}

.doccontainer2{
    display: flex;
    flex-direction:row; 
    justify-content:left;
    align-items:center;
    flex-wrap: wrap; 
}

.doctxt{
   text-align: justify; 
   margin-bottom: 3%; 
   color:white; 
   font-family:'Song Myung';
   font-weight: 400;
}


.whyspeakimg{
    height: 28vw; 
    width:38vw;
}

.whycontent{
    font-weight: 400; 
    margin-top:8%; 
    margin-bottom:5%;
}

.imgwhycontainer{
    align-self:auto
}

.whytitle{
    font-family: 'Poppins'; 
    font-style: normal; 
    font-weight: 700; 
    color:black; 
    font-size:2.5vw;
    margin-bottom:0%; 
    text-align:center;
}


@media (min-width: 1120px) {
    .collapse.dont-collapse-lg {
        display: block;
        height: auto !important;
        visibility: visible;
    }

    .speakforyou{
        max-width:640px;
        padding-right: 30px;
    }

    .first-div-container{
        height: 91vh; 
    }
}

@media (min-width: 1120px) {
    .speakforyou{
        width: 100%;
    }
}

@media (max-width:1120px){
    .first-div-content-bgcolor {
        background-color:#eddbc0bb;
    }
}

@media(max-width: 1269px) {
    .bgpic {
        background-size:contain;
        height: auto;
    }



    .btnlogin{
        line-height: 30px;
        font-size: 20px; 
    }
    .btnregister{
        line-height: 30px;
        font-size: 20px;
    }
    .btnloginregister{
        margin-bottom: 5%;
    }
    .servicescontainer{
        height: auto;

    }
    .whiteline{
        border: 1px solid #FFFFFF;
    }
    .brownshape{
        margin-top:5%;
    }
    .undertxt{
        font-size: 15px;
        padding-bottom: 5%;
    }
    .docimg{
        width: 391px;
        height: 456px;
    }

    .doccontainer1{
        justify-content:center;
    }
    .whyspeakimg{
        height: 386px;
        width: 586px;
    }
}   

@media(max-width: 481px ) {
    .speak{
        font-size: 70px;
    }
    .werehere{
        font-size: 30px;
    }
}
@media (max-width:451px){
    .brownshape{
        height: 315px ; 
        width:154px;
    }
    .servicesimg{
        height: 51px;
        width: 57px;
    }
    .txtbrown124{
        font-size: 13px;
    }
    .txtbrown3{
        font-size: 24px;
    }
    .undertxt{
        font-size: 13px;
        padding:0 2% 10% 2%;
    }
    .whatwe{
        font-size: 20px;
    }
}
@media(max-width: 327px) {
    .speakforyou{
        margin: 0;
        font-size: 15px;
    }
    .speak{
        font-size: 50px;
    }
    .werehere{
        font-size: 25px;
    }
    .brownshape{
        height: 400px ; width:134px;
    }
    .servicesimg{
        height: 51px;width: 57px;
    }
    .txtbrown124{
        font-size: 15px;
    }
    .txtbrown3{
        font-size: 24px;
    }  
    .docimg{
        width: 191px;
        height: 256px;
    } 
}

@media(max-width:288px) {
    .speakforyou{
        display: none;
    }
    .docimg{
        width: 141px;
        height: 206px;
    }
}

@media(max-width:400px) {
    .whyspeakimg{
        width: 300px;
        height: 250px;
    }

}

@media(max-width: 769px ) {
    
    .first-div-container{
        height: 93vh; 
    }

    .first-div-content-bgcolor {
        height: 93vh;
    }
    .speak{
        font-size: 80px;
    }
    .werehere{
        font-size: 45px;
    }
    .servicestitle{
        font-size: 15px;
        line-height: 0 ;
    }
    .servicescontainer{
        padding-top: 35px;
    }
     .brownshape{
        height: 315px ; width:224px;
    }
    .servicesimg{
        height: 71px;width: 77px;
    }
    .txtbrown124{
        font-size: 15px;
    }
    .txtbrown3{
        font-size: 24px;
    } 
    .whatwe{
        font-size: 25px;
        line-height: 20px;
    }
    .aboutimg{
        width: 291px;
        height: 235px;
    }
    .abouttxt{
        font-size: 15px;
        padding: 0 3% 0 3%;
    }
    .aboutreadmore{
        font-size: 15px;
        line-height: 60px;
    }
    .aboutus{
        font-size: 25px;
        line-height: 20px;
    }
    .gettoknow{
        font-size: 10px;
        line-height: 0;
    }
    .docimg{
        width: 291px;
        height: 356px;
    }
    .whyspeakimg{
        width: 455px;
        height: 265px;

    }
    .imgwhycontainer{
        text-align: center;
    }
    .whytitle{
        font-size: 25px;
    }
}